@page
<h1>This is a Razor Page</h1>
<p>We can do the same stuff we can in an MVC Razor View</p>
<p>For example, we can get the time from the server</p>

<h2>The date on the server is @DateTime.Now.ToShortDateString()</h2>
<h2>The time on the server is @DateTime.Now.ToShortTimeString()</h2>
