@page
@model RazorPagesBasics.Pages.razorPage3Model
@{
    ViewData["Title"] = "razorPage3";
}

<h1>razorPage3</h1>

<h2>This is a Razor Page with a Corresponding PageModel</h2>
<h3>
    The first property says: <strong> @Model.prop1 </strong>
</h3>
<h3>
    The second property says: <strong> @Model.prop2 </strong>
</h3>


